@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: Exo2;
  --font-mono: ui-monospace, SFMono-Regular, monospace;
  --font-cool: Exo2ExtraBold;
  --font-bold-exo: Exo2Bold;
  --font-regular-exo: Exo2Regular;
  --font-bolditalic-exo: Exo2BoldItalic;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  @font-face {
    font-family: "Exo2";
    font-style: normal;
    font-weight: 400;
    src: url("../../public/fonts/Exo2-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Exo2";
    font-style: normal;
    font-weight: 700;
    src: url("../../public/fonts/Exo2-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Exo2";
    font-style: normal;
    font-weight: 800;
    src: url("../../public/fonts/Exo2-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: Exo2ExtraBold;
    font-style: normal;
    font-weight: 800;
    src: url("../../public/fonts/Exo2-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Exo2";
    font-style: italic;
    font-weight: 700;
    src: url("../../public/fonts/Exo2-BoldItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: Exo2Bold;
    font-style: normal;
    font-weight: 700;
    src: url("../../public/fonts/Exo2-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: Exo2Regular;
    font-style: normal;
    font-weight: 400;
    src: url("../../public/fonts/Exo2-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: Exo2BoldItalic;
    font-style: italic;
    font-weight: 700;
    src: url("../../public/fonts/Exo2-BoldItalic.ttf") format("truetype");
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  width: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, -apple-system, sans-serif;
}

